<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/src/css/outStyle.css">
  <!--<link rel="stylesheet" href="/assets/FontAwesome.Pro.6.0.0.alpha3/fontawesome6/pro/css/all.min.css">-->

  <title>solid</title>
</head>

<body>

  <section>

    <div class="solidContainer container px-2 flex flex-col md:flex-row items-center justify-start mt-8">
      <div
        class="w-full h-26 md:w-full md:h-80 overflow-hidden shadow-md shadow-slate-400 cursor-pointer duration-300 ease-in transition-all mt-3 md:mt-0 md:mr-3 rounded-lg">
        <img class="h-full w-full" src="/assets/image/1.jpg" alt="">
      </div>

      <div
        class="w-full h-10 md:w-16 md:h-80 overflow-hidden shadow-md shadow-slate-300 cursor-pointer duration-300 ease-in transition-all mt-3 md:mt-0 md:mr-3 rounded-lg">
        <img class="h-full w-full" src="/assets/image/2.jpg" alt="">
      </div>

      <div
        class="w-full h-10 md:w-16 md:h-80 overflow-hidden shadow-md shadow-slate-300 cursor-pointer duration-300 ease-in transition-all mt-3 md:mt-0 md:mr-3 rounded-lg">
        <img class="h-full w-full" src="/assets/image/3.jpg" alt="">
      </div>

      <div
        class="w-full h-10 md:w-16 md:h-80 overflow-hidden shadow-md shadow-slate-300 cursor-pointer duration-300 ease-in transition-all mt-3 md:mt-0 md:mr-3 rounded-lg">
        <img class="h-full w-full" src="/assets/image/4.jpg" alt="">
      </div>

    </div>

  </section>

  <script src="/src/js/script.js"></script>
</body>

</html>